
body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
}

ul li {
	list-style-type: none;
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a {
	text-decoration: none;
	color: #2f2f2f;
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
	line-height: 1.13;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

img {
	border: none;
	max-width: 100%;
}



pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}



button {
	padding: 5px 15px;
	border: none;

}

button:focus {
	outline: none;
	border: none;
}

/*Wordpress default class*/

.alignleft {
	float:left;
	margin-right:8px;
}

.aligncenter {
	display:block;
	margin:10px auto;
}

.alignright {
	float:right;
	margin-left:8px;
}

.alignnone {
	max-width: 100%;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 4px;
	border: 2px solid #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.5px;
	padding: 12px 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
}

.mu-send-msg-btn {
	border-radius: 4px;
	border: 1px solid #888;
	background-color: transparent;
	color: #555;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 130px;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 0;
	z-index: 999;
	transition: all 0.5s;
	background-color: #339999;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #339999;
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
	width: 120px;
	line-height: 18px;
}



.icon {
	width:75px ;
	height: 76px;
	color: #f0ad4e;
}

#mu-header.mu-fixed-nav {
	width: 100%;
	position: fixed;
	padding: 15px 0;
}


/*--------------------*/
/* MENU */
/*--------------------*/

.mu-navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;

}

.mu-menu {
	margin-top: 4px;
}

.navbar-default .mu-menu li a {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0;
	margin: 10px 15px;
	transition: all 0.5s;
	position: relative;
}

.navbar-default .mu-menu li a::after {
	background-color: #fff;
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -5px;
	left: 0;
	transform: scale(0);
	transition: all 0.5s;
}

.navbar-default .mu-menu li a:hover,
.navbar-default .mu-menu li a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #fff;
}

.navbar-default .mu-menu li a:hover::after,
.navbar-default .mu-menu li a:focus::after,
.navbar-default .navbar-nav > .active > a:focus::after,
.navbar-default .navbar-nav > .active > a:hover::after {
	transform: scale(1);
}


/*--------------------*/
/* FEATURED SLIDER */
/*--------------------*/

#mu-featured-slider {
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: inline;
	float: left;
	width: 100%;
	background-color: #15A2B8;
}


.mu-featured-area {
	display: inline;
	float: left;
	width: 100%;
	padding: 28% 10%;
	text-align: center;
}

.mu-featured-area h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 1;
}

.mu-featured-slider-wrapper {
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider {
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-slider p,
#typed {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}

.mu-featured-slider span,
#typed span{
	color: #F0AD4E;
	font-size: 30px;
	font-weight: 600;
}

.typed-cursor {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	}
}
.mu-featured-content {
	margin-top: 15px;
	display: inline;
	float: left;
	width: 100%;
}

.mu-featured-content p{
	color: #fff;
}

.mu-featured-content a{
	margin-top: 35px;
}


/*--------------------*/
/* ABOUT US */
/*--------------------*/
#mu-about {
	background-color: #f7f7f7;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-about-header {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-about-content {
	background-color: #fff;
	display: inline;
	float: left;
	margin-top: 70px;
	padding: 20px;
	width: 100%;
}

.mu-about-content-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-content-right {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}


.mu-resume-btn {
	margin-top: 30px;
	display: center;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-resume-btn:hover,
.mu-resume-btn:focus {
	color: #fff;
}


/*--------------------*/
/* PORTFOLIO */
/*--------------------*/


#mu-portfolio {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-portfolio-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-portfolio-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 75px;
	display: inline-block;
	margin-bottom: 20px;

}

.mu-portfolio-content{
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/



@media (max-width: 991px) {

	.navbar-default .mu-menu li a {
		font-size: 14px;
		margin: 10px 5px;
	}

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-simplefilter li{
		margin-bottom: 10px;
	}

	.mu-about-header,
	.mu-service-header,
	.mu-contact-header {
		padding: 0;
	}

	.mu-featured-area {
		padding: 28% 5%;
	}

	.mu-about-content-left img{
		width: 100%;
	}

	.mu-about-content-right {
		margin-top: 50px;
	}



}



@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}

	.mu-featured-slider-content {
		left: 0;
		right: 0;
		bottom: 0;
		top: 30%;
		padding: 0 10px;
	}

	.mu-featured-slider-content h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.mu-featured-slider-content p {
		font-size: 12px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}


}


@media (max-width: 480px) {

	#mu-header {
		padding: 10px 0;
	}

	.navbar-toggle {
		padding: 7px 8px;
	}

	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-about-content-single h4 {
		margin-bottom: 18px;
	}

	.mu-featured-area h1 {
		font-size: 40px;
	}

	.mu-featured-slider p,
	#typed,
	#typed span {
		font-size: 18px;
	}

	.mu-featured-content p {
		font-size: 14px;
	}

	.mu-filter-item-content {
		padding-top: 20%;
	}

	.mu-featured-area {
		padding: 20% 5%;
	}

}


@media (max-width: 360px){

	.mu-featured-slider-content {
		top: 49%;
	}

	.mu-featured-slider-content p,
	.mu-featured-slider-content .mu-primary-btn {
		display: none;
	}

	.mu-featured-slider-content h2 {
		font-size: 18px;
		margin-bottom: 0;
	}



	.mu-portfolio-content .col-xs-6 {
		width: 100%;
	}


}

.row {
  margin: 30px 0;
}
.hidden {
  display: none;
}

.panel-title{
	font-weight:10px;
}


.column {
  float: left;
  padding: 0.625rem;
	text-align: center;
}


.nav-item{
color: #fff;
}
.nav-item:hover,.nav-link:hover{
color: #F0AD4E;
}

/* stack on top of each other */
@media screen and (max-width: 31.25rem) {
  .column {
	text-align: center;
    width: 100%;
  }
  .card-deck{
	text-align: center;
    width: 100%;
  }

}
